<h1>New gossip</h1>
<p>Find me in app/views/gossips/new.html.erb</p>

<%= form_tag @gossip do %>
 
  <%= label_tag 'content', 'Content' %>
  <%= text_field_tag 'content' %>
 
  <%= submit_tag "Add a gossip !"%>
<% end %>